{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <div class="">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <p>{{ flashMessage }}</p>
        {% endfor %}
    </div>

    <div class="m-auto w-[80%] grid grid-cols-2 grid-rows-[3em_25em_2em]">
        <div class="col-start-1 row-start-1"><h2>Bienvenue {{ app.user.username }} !</h2></div>
        <div class="col-start-1 row-start-2 justify-items-center">
            {% if user.avatar %}
                <img class="imageTeste object-fill h-full" src="{{ asset(uploaded_image ~ user.avatar) }}" alt="avatar image">
            {% else %}
                <img class="imageTeste object-fill h-full" src="{{ asset(default_avatar) }}" alt="avatar image">
            {% endif %}
        </div>

        <div class="col-start-1 row-start-3 justify-self-center"><a class="btn bg-gray-400" href="{{ path('app_profile_edit', {}) }}">Modifier le profil</a></div>

        <div class="col-start-2 row-start-2 grid grid-cols-1 grid-flow-row auto-rows-auto justify-items-center">
            <div class=""><h3>{{ user.email }}</h3></div>
            <div class=""><a class="btn bg-gray-400" href="/reset-password">reset-password</a></div>
            <div class=""><a class="btn bg-gray-400" href="/profile/edit-password">Editer le mot de passe</a></div>
        </div>
        <div class="col-start-2 row-start-3 justify-self-center"><a class="btn bg-red-600" href="{{ path('app_logout') }}">Logout</a></div>
    </div>

    <h2>Les quizz les plus populaires</h2>

<div class="carousel {% if testes|length == 0 %}empty{% endif %}">

    {% for teste in testes %}
    <div class="card">
        <div class="title">{{ teste.label }}</div>
        {% if teste.imageTeste != null %}
            <div class="image">{{ teste.imageTeste }}</div>
        {% else %}
            <div class="image"><img src="{{ asset('resrc/noideabro.jpeg') }}"/></div>
        {% endif %}
        <a class="show" href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a> 
        <a class="edit" href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
        <a class="try" href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> 
        <a class="myTries" href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    
    <div class="carouselBtn">
        <button class="btn bg-blue-700" id="prev">précedent</button>
        <button class="btn bg-red-700" id="next">suivant</button>
    </div>
    {% else %}
        <h3 class="rien">Aucun quizz</h3>
    {% endfor %}
</div>

<script>

const cards = document.querySelectorAll('.card');

let c = 0;

const next = document.getElementById('next');
const prev = document.getElementById('prev');

if (next != null) {
    next.addEventListener('click', (e) => {
        if (c != cards.length-1) {
            c++;
            cards.forEach((ca) => {
                    ca.style.transform += "translate(-16.2em)";
                    
            });
            console.log(c);
        }
    });
}

if (prev != null) {
    prev.addEventListener('click', (e) => {
        if (c != 0) {
            c--;
            cards.forEach((ca) => {
                    ca.style.transform += "translate(16.2em)";
            });
        
        }
        console.log(c);
    });
}

</script>

{% endblock %}
