{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    <div class="example-wrapper">
        <a href="/reset-password">reset-password
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <img class="imageTeste" src="{{ asset(uploaded_image ~ user.avatar) }}" alt="teste image">
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profile') }}">back to list</a>

    <a href="{{ path('app_profile_edit', {}) }}">edit</a>

    
{% endblock %}
