{% extends 'base.html.twig' %}

{% block title %}Teste index{% endblock %}

{% block body %}
    <h1>Teste index</h1>
    <form>
        <label for="name">Filtre par nom</label>
        <input type= "text" id="name" name="name" value="">

        <div class="checkbox">
        <label for="name">Uniquement mes testes</label>
        <input type="checkbox"  id="mineOnly" name="mineOnly"/>
        </div>
        <input type="submit" value="Filtrer">
    </form>

    <a class="btn bg-blue-600 justify-self-center" href="{{ path('app_teste_new') }}">Créer un test</a>

    <div class="amazonTypeList">
    
    {% for teste in testes %}
    <div class="case">
        <!--<a href="{{ path('app_teste_delete', {'id': teste.id}) }}">supprimer</a>-->
        <div class="title">{{ teste.label }}</div>
        {% if teste.imageTeste != null %}
            <div class="image">{{ teste.imageTeste }}</div>
        {% else %}
            <div class="image"><img src="{{ asset('resrc/noideabro.jpeg') }}"/></div>
        {% endif %}
            {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                    <a class="show" href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a> 
                    <a class="edit" href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
            {% endif %}
        <a class="try" href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> 
        <a class="myTries" href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    {% else %}
        <h2 class="rien">Aucun quizz trouver</h2>
    {% endfor %}

    
{% endblock %}
