{% extends 'base.html.twig' %}

{% block title %}Teste index{% endblock %}

{% block body %}
    <h1>Teste index</h1>
    <form>
        <tr>
            <th><label for ="name">Filtre par nom</label></th>
            <th><input type = "text" id = "name" name = "name" value = ""></th>
        </tr>
        <tr>
            <th><input type = "submit"></th>
        </tr>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>ImageTeste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teste in testes %}
            <tr>
                <td>{{ teste.id }}</td>
                <td>{{ teste.label }}</td>
                <td>{{ teste.imageTeste }}</td>
                <td>
                    <a href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a>
                    <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a>
                    <a href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teste_new') }}">Create new</a>
{% endblock %}
