{% extends 'base.html.twig' %}

{% block title %}Teste index{% endblock %}

{% block body %}
    <h1>Teste index</h1>
    <form>
        <label for="name">Filtre par nom</label>
        <input type= "text" id="name" name="name" value="">

        <div class="checkbox">
        <label for="name">Uniquement mes testes</label>
        <input type="checkbox"  id="mineOnly" name="mineOnly"/>
        </div>
        <input type="submit" value="Filtrer">
    </form>

    <a href="{{ path('app_teste_new') }}">Create new</a>

    <div class="amazonTypeList">
    
    {% for teste in testes %}
    <div class="case">
        <!--{{ teste.id }}-->
        <div class="title">{{ teste.label }}</div>
        <div class="image">{{ teste.imageTeste }}</div>
            {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                    <a class="show" href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a>  
                    <a class="edit" href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
            {% endif %}
        <a class="try" href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a>  
        <a class="tries" href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    {% else %}
        <h2>Aucun quizz trouver</h2>
    {% endfor %}

    {% for teste in testes %}
    <div class="case">
        <!-- {{ teste.id }} -->
        {{ teste.label }}
        {{ teste.imageTeste }}
            {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                    <a href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a>  
                    <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
            {% endif %}
        <a href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> 
        <a href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    {% else %}
        <h2>Aucun quizz trouver</h2>
    {% endfor %}

    {% for teste in testes %}
    <div class="case">
        {{ teste.id }}
        {{ teste.label }}
        {{ teste.imageTeste }}
            {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                    <a href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a> 
                    <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
            {% endif %}
        <a href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> 
        <a href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    {% else %}
        <h2>Aucun quizz trouver</h2>
    {% endfor %}

    {% for teste in testes %}
    <div class="case">
        {{ teste.id }}
        {{ teste.label }}
        {% if teste.imageTeste != null %}
            {{ teste.imageTeste }}
        {% else %}
            <img src="{{ asset('resrc/noideabro.jpeg') }}"/>
        {% endif %}
            {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                    <a href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a> 
                    <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> 
            {% endif %}
        <a href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> 
        <a href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
    </div>
    {% else %}
        <h2>Aucun quizz trouver</h2>
    {% endfor %}
    
    
    </div>
    <!--
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>ImageTeste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teste in testes %}
            <tr>
                <td>{{ teste.id }}</td>
                <td>{{ teste.label }}</td>
                <td>{{ teste.imageTeste }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') or app.user.id == teste.user.id %}
                            <a href="{{ path('app_teste_show', {'id': teste.id}) }}">show</a> | 
                            <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a> |
                    {% endif %}
                    <a href="{{ path('app_tentative_new', {'id': teste.id}) }}">essayer</a> | 
                    <a href="{{ path('app_tentative_for_test', {'id': teste.id}) }}">mes tentatives</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    -->
    
{% endblock %}
