{% extends 'base.html.twig' %}

{% block title %}Teste index{% endblock %}

{% block body %}
    <h1>Teste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ImageTeste</th>
                <th>TypeTest</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teste in testes %}
            <tr>
                <td>{{ teste.imageTeste }}</td>
                <td>{{ teste.typeTest }}</td>
                <td>
                    <a href="{{ path('app_teste_show', {'idTeste': teste.idTeste}) }}">show</a>
                    <a href="{{ path('app_teste_edit', {'idTeste': teste.idTeste}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teste_new') }}">Create new</a>
{% endblock %}
