{% extends 'base.html.twig' %}

{% block title %}Teste{% endblock %}

{% block body %}
    <h1>{{teste.label}}</h1>
    {% if teste.imageTeste is not empty %}
    <tr>
        <th>ImageTeste</th>
        <td>
            <img class="imageTeste" src="{{ asset(uploaded_image ~ teste.imageTeste) }}" alt="teste image">
        </td>
    </tr>
    {% endif %}

    <ul> <!-- Liste des questions -->
    {% for question in teste.questions %}
        <ul> <!-- Liste des solutions -->
            {% for solution in question.solutions %}
                <li>Solution {{ loop.index }} - {{ solution.nomSolution }} (id: {{ solution.id }}) </li>
                <ul>    
                    <li>Critère : {{ solution.critere.nomCritere }} (défaut : {{ solution.critere.scoreDefaut }}, max : {{ solution.critere.scoreMax }})</li>
                    <li>Points : {{ solution.point }} </li>
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

    <div>
        <a href="{{ path('app_teste_index') }}">back to list</a>
        <a href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a>
    </div>


    {{ include('teste/_delete_form.html.twig') }}
{% endblock %}
