{% extends 'base.html.twig' %}

{% block title %}Teste - teste.label{% endblock %}

{% block body %}
    <h1>{{teste.label}}</h1>

    <div class="amazonTypeList">
        <div class="case">
        <div class="title">Id: {{ teste.id }}</div>
        {% if teste.imageTeste is not empty %}
            <div class="image"><img src="{{ asset(uploaded_image ~ teste.imageTeste) }}" alt="teste image"></div>
        {% else %}
            <div class="image"><img src="{{ asset(default_teste) }}"/></div>
        {% endif %}
        </div>
    </div>

    {% for question in teste.questions %}
        {{ loop.index }} : {{ question.question }}
        <ul> <!-- Liste des solutions -->
            {% for solution in question.solutions %}
                <li>Solution {{ loop.index }} - {{ solution.nomSolution }} (id: {{ solution.id }}) </li>

                    <li>Critère : {{ solution.critere.nomCritere }} (défaut : {{ solution.critere.scoreDefaut }}, max : {{ solution.critere.scoreMax }})</li>
                    <li>Points : {{ solution.point }} </li>
            {% endfor %}
    {% endfor %}


    <div class="grid grid-cols-3 m-[2em_auto_2em_auto] gap-4">
    {{ include('teste/_delete_form.html.twig') }}
    <a class="btn bg-gray-400" href="{{ path('app_teste_index') }}">Retour</a>
    <a class="btn bg-gray-400" href="{{ path('app_teste_edit', {'id': teste.id}) }}">Editer</a>
    </div>
{% endblock %}
