{% extends 'base.html.twig' %}

{% block title %}Teste{% endblock %}

{% block body %}
    <h1>{{teste.label}}</h1>

    <div class="amazonTypeList">
        <div class="case">
        <div class="title">Id: {{ teste.id }}</div>
        {% if teste.imageTeste is not empty %}
            <div class="image"><img src="{{ asset(uploaded_image ~ teste.imageTeste) }}" alt="teste image"></div>
        {% else %}
            <div class="image"><img src="{{ asset('resrc/noideabro.jpeg') }}"/></div>
        {% endif %}
        </div>
    </div>

    <div class="grid grid-cols-3 m-[2em_auto_2em_auto] gap-4">
    <a class="btn bg-gray-400" href="{{ path('app_teste_index') }}">back to list</a>
    <a class="btn bg-gray-400" href="{{ path('app_teste_edit', {'id': teste.id}) }}">edit</a>


    {{ include('teste/_delete_form.html.twig') }}
    </div>
{% endblock %}
