{% extends 'base.html.twig' %}

{% block title %}Vos tentatives{% endblock %}

{% block body %}
    <h1>Vos tentatives</h1>

    <div class="amazonTypeList">
        {% for tentative in tentatives %}
            <div class="case">
            {% if tentative.teste.imageTeste %}
                <div class="image"><img src="{{ asset(uploaded_image ~ tentative.teste.imageTeste) }}"></div>
            {% else %}
                <div class="image"><img src="{{ asset(default_teste) }}"/></div>
            {% endif %}
            <div class="title">{{ tentative.dateTentative ? tentative.dateTentative|date('Y-m-d H:i:s') : '' }}</div>
                
            <div class="show"><a href="{{ path('app_tentative_results', {'id': tentative.id}) }}">show</a></div>
            <div class="edit"><a href="{{ path('app_tentative_new', {'id': tentative.teste.id}) }}">Repasser</a></div>
            </div>

        {% else %}
            <h2 class="rien">no records found</h2>
        {% endfor %}
    </div>

{% endblock %}
