{% extends 'base.html.twig' %}

{% block title %}New Tentative{% endblock %}

{% block body %}
    <h1>Create new Tentative</h1>

    {{ include('tentative/_form.html.twig') }}

    {% for question in questions %}
        <p>{{question.question }}</p>
        <select name="{question.question}}">
            <option value="0" > </option>
            {% for solution in question.solutions %}
                <option value="{{ solution.nomSolution}}">{{ solution.nomSolution }}</option>
            {% endfor %}
        </select>
    {% endfor %}


    <a href="{{ path('app_tentative_index') }}">back to list</a>
{% endblock %}
