{% extends 'base.html.twig' %}

{% block title %}CritereSolution index{% endblock %}

{% block body %}
    <h1>CritereSolution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Point</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for critere_solution in critere_solutions %}
            <tr>
                <td>{{ critere_solution.id }}</td>
                <td>{{ critere_solution.point }}</td>
                <td>
                    <a href="{{ path('app_critere_solution_show', {'id': critere_solution.id}) }}">show</a>
                    <a href="{{ path('app_critere_solution_edit', {'id': critere_solution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_critere_solution_new') }}">Create new</a>
{% endblock %}
